PORT=5000
MONGO_URI=mongodb://localhost:27017/mern_indexing_benchmark
NODE_ENV=development
MONGOOSE_AUTO_INDEX=false
DEFAULT_PRODUCTS=30000
DEFAULT_ORDERS=80000
DEFAULT_USERS=10000
CORS_ORIGIN=http://localhost:5173
